{% extends 'Home.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
 
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/alertifyjs/1.8.0/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.8.0/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.8.0/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.8.0/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.8.0/css/themes/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.5.0/alertify.core.css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" charset="utf-8" http-equiv="content-type">
	{% block tittle %}
	<title>documentacion proyecto django</title>
	{% endblock %}
	
	

</head>
{% block content %}
<body style="background-color:gray">

<script type="text/javascript">
	$(document).ready(function(){
	
 alertify.confirm('Bienvenido','pagina de Documentacion',function(){alertify.success('OK')
 },function(){alertify.error('cancelar')});
});
</script>

<content>
<h1>Documentacion</h1>
<img style="width:500px;height:250px" src="{%static "img/django_python.jpg" %}">
<h3>lenguaje utilizado: Python version 3.4</h3>
<h3>Framework: Django version 1.10.3</h3>
<h3>Arquitectura: MVC</h3>
<br>
<br>
<h2>comandos</h2>
<div style="font-size:20px">
<p><b>Instalacion de django:</b> python -m pip install Django</p>
<p><b>Instalacion de Virtualenv:</b> python -m pip install virtualenv</p>
<p><b>consultar los paquetes instalados:</b> python -m pip freeze</p>
</div>
</content>
{% endblock %}
</body>
</html>